/* Mobile */

.primary-btn {
    background-color: var(--primary-blue);
    color: var(--text-on-dark);
    width: 8rem;
    border-radius: var(--radius-sm);
    padding: var(--space-xs);
    font-size: 0.75rem;
}

.see-more-btn {
    display: flex;
    justify-content: center;
    gap: var(--space-sm);
    background-color: var(--primary-blue);
    color: var(--text-on-dark);
    width: 6rem;
    border-radius: var(--radius-sm);
    padding: var(--space-xs);
    font-size: 0.75rem;
    margin-bottom: var(--space-md);
}

.btn-icon {
    font-size: 0.8rem;
}

/* Tablet */
@media  (min-width: 768px) {
    .primary-btn {
        width: 14rem;
        font-size: 1.25rem;
        padding: var(--space-sm);
        margin: var(--space-lg);
    }

    .see-more-btn {
        width: 12rem;
        padding: var(--space-sm);
        font-size: 1.5rem;
        margin: var(--space-lg);
    }

    .btn-icon {
        font-size: 1.5rem;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .primary-btn {
        width: 12rem;
        font-size: 1.25rem;
        padding: var(--space-sm);
        margin: var(--space-lg);
        transition: transform 0.2s ease;
    }

    .primary-btn:hover {
        transform: translateY(-5px);
    }

    .progress-btn {
        width: 8rem;
        font-size: 0.85rem;
    }
    
    .see-more-btn {
        width: 12rem;
        font-size: 1.25rem;
        gap: var(--space-lg);
    }

    .btn-icon {
        font-size: 1.25rem;
    }
}