/* Mobile */

.genre-page-title {
    text-transform: capitalize;
    padding: var(--space-sm);
}

.genre-page-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: var(--space-md);
}

.genre-book-cover {
    width: 4rem;
    height: 6rem;
    object-fit: cover;
    flex-shrink: 0;
}

.genre-page-info {
    display: flex;
    flex-direction: column;
}

/* Tablet */
@media (min-width: 768px) {
    .genre-page-title {
        padding: var(--space-md);
    }

    .genre-book-cover {
        width: 8rem;
        height: 12rem;
    }

    .genre-page-info {
        font-size: 1.5rem;
    }
}

@media (min-width: 1024px) {
    .genre-page-card {
        justify-content: flex-start;
        width: 90%;
    }
}