/* Mobile */

.donut-wrapper {
    width: 140px;
    height: 140px;
}

.donut-chart-stat {
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
}

/* Tablet */
@media (min-width: 768px) {
    .donut-wrapper {
        width: 1800px;
        height: 180px;
    }

    .donut-chart-stat {
        font-size: 2rem;
    }
}