/* Mobile */

.donut-wrapper {
    display: flex;
    padding: var(--space-sm);
    gap: var(--space-sm);
}

.donut-chart-stat {
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
}

/* Tablet */
@media (min-width: 768px) {
    .donut-chart-stat {
        font-size: 2rem;
    }
}