/* Mobile */
.progress-bar {
    position: relative;
    width: 100%;
    height: 2rem;
    background: var(--secondary-blue);
    border-radius: var(--radius-sm);
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    background: var(--primary-blue);
    border-radius: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-stat {
    font-size: 0.75rem;
    color: var(--text);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Tablet */
@media (min-width: 768px) {
    .progress-bar {
        width: 100%;
        height: 3rem;
    }

    .progress-stat {
        font-size: 1.5rem;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .progress-bar {
        width: 100%;
        height: 3rem;
    }

    .progress-stat {
        font-size: 1.5rem;
    }
}