/*Mobile*/

/*Currently Reading*/

.currently-reading-content {
    display: flex;
    flex-direction: column;
}

.lg-book-cover {
    width: 12rem;
    height: auto;
}

.book-info {
    text-align: center;
    padding: var(--space-sm);
}

/*Progress*/

.progress-btn-container {
    display: flex;
    height: fit-content;
    align-self: center;
}

.donut-chart-container {
    display: flex;
}

/*Reading Challenge*/
.challenge-stat {
    font-size: 0.75rem;
    padding: var(--space-sm);
}

.challenge-title {
    font-size: 1rem;
    text-align: center;
    padding: var(--space-sm);
}

/*Recommendations*/
.book-row-container {
    display: block;
}

.see-more-btn-container {
    display: flex;
    justify-content: center;
}

/* Tablet */
@media (min-width: 768px) {
    .currently-reading-content {
        flex-direction: row;
        gap: 2rem;
        align-items: center;
    }

    .lg-book-cover {
        width: 24rem;
        height: auto;
    }

    .book-info {
        font-size: 1.5rem;
        padding: var(--space-md);
    }

    .challenge-title {
        font-size: 2rem;
        text-align: center;
        padding: var(--space-sm);
    }

    .challenge-stat {
        font-size: 1.5rem;
    }
}