/* Mobile */
.genre-card {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--secondary-blue);
    border-radius: var(--radius-lg);
    padding: var(--space-md);
    gap: var(--space-sm);
    padding-bottom: 0;
    margin: var(--space-sm) 0;
}

.genre-btn {
    background-color: var(--clr-background);
    font-size: 0.85rem;
}

/* Tablet */
@media (min-width: 768px) {
    .genre-card {
        padding: var(--space-lg);
        gap: var(--space-md);
        margin: var(--space-md) 0;
    }
    .genre-btn {
        font-size: 1.5rem;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .genre-card {
        background: none;
        padding: 0;
    }

    .genre-btn {
        font-size: 1.25rem;
        padding: var(--space-sm);
        width: 75%;
        transition: transform 0.2s ease;
    }

    .genre-btn:hover {
        transform: translateY(-5px);
    }
}