/* Mobile */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 25rem;
    height: 25rem;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(3px);
    margin-left: -0.85rem;
}

.progress-modal {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: var(--space-md);
    border-radius: var(--radius-md);
    font-size: 1rem;
    gap: var(--space-sm);
    width: 90%;
    max-width: 320px;
    box-shadow: var(--shadow-md);
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
    gap: var(--space-md);
}

.cancel-btn {
    background: var(--clr-background);
    color: var(--text);
    border: 1px solid var(--secondary-blue);
    padding: var(--space-sm);
    border-radius: var(--radius-md);
}

.submit-btn {
    background: var(--primary-blue);
    color: white;
    padding: var(--space-sm);
    border-radius: var(--radius-md);
}

/* Tablet */
@media (min-width: 768px) {
    .modal-overlay {
        position: fixed;
        top: 5rem;
        left: 0.5rem;
        width: 50rem;
        height: 50rem;
        margin-left: 0;
    }

    .progress-modal {
        padding: var(--space-lg);
        font-size: 2rem;
        gap: var(--space-lg);
        width: 90%;
        max-width: 640px;
    }

    .modal-actions {
        gap: var(--space-lg);
    }

    .cancel-btn {
        padding: var(--space-md);
    }

    .submit-btn {
        padding: var(--space-md);
    }
}