/* Mobile */
.shelf-card {
    display: flex;
    gap: var(--space-md);
    border: 1px solid rgba(69, 100, 129, 0.08);
}

.shelf-title {
    border-bottom: 4px solid var(--secondary-blue);
    display: inline-block;
    font-weight: 700;
    font-size: 1rem;
    padding-top: 1rem;
}

.book-stack {
    display: flex;
    flex-direction: row;
}

/* Tablet */
@media (min-width: 768px) {
    .shelf-title {
        font-size: 2rem;
    }

    .shelf-card p {
        font-size: 1.5rem;
    }
}