/* Mobile */
.current-reading-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--space-sm);
    box-shadow: var(--shadow-md);
    border-radius: var(--radius-md);
    margin-bottom: var(--space-md);
}

.md-book-cover {
    width: 8rem;
    height: auto;
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    padding: var(--space-sm);
}

.current-book-info {
    font-size: 0.85rem;
}

/*Progress*/
.progress-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

.progress-container p {
    font-size: 0.85rem;
}

.library-progress {
    width: 12rem;
}

.library-progress span {
    font-size: 0.85rem;
}

.update-progress-btn {
    margin: var(--space-md);
}

/*Shelves*/
.shelf-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-sm);
}

.add-shelf-btn {
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    gap: var(--space-sm);
    font-size: 1rem;
    box-shadow: var(--shadow-md);
    margin: var(--space-md);
}

/* Tablet */
@media (min-width: 768px) {
    .md-book-cover {
        width: 20rem;
        height: auto;
    }

    .current-book-info {
        font-size: 1.5rem;
    }

    .progress-container p {
        font-size: 1.5rem;
    }

    .library-progress {
        width: 28rem;
    }

    .library-progress span {
        font-size: 1.5rem;
    }

    .add-shelf-btn {
        font-size: 1.5rem;
        width: 16rem;
        margin-top: 2rem;
    }
}