/* Mobile */

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary-blue);
    border-radius: var(--radius-md);
    height: 70px;
}

.header-center {
    width: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-icon {
    font-size: 1.5rem;
}

.logo-text {
    font-family: 'The Girl Next Door';
    font-size: 1.5rem;
    margin-top: -1rem;
}

.logo-img {
    width: 3rem;
    height: auto;
    margin: -0.5rem;
}

.header-search {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: var(--space-sm);
    gap: var(--space-sm);
    font-size: 0.8rem;
}

.search-icon {
    font-size: 1.5rem;
}

.search-bar {
    width: 16rem;
    border-radius: var(--radius-lg);
    padding: var(--space-xs);
}

/* Tablet */
@media (min-width: 768px) {
    .header-top {
        height: 140px;
    }

    .header-icon {
       font-size: 3rem;
    }

    .logo-text {
        font-size: 3rem;
    }

    .logo-img {
        width: 6rem;
        height: auto;
    }

    .header-search {
        justify-content: center;
        font-size: 1.25rem;
        justify-content: space-evenly;
        margin: 1.5rem;
    }

    .search-icon {
       font-size: 3rem;
    }

    .search-bar {
        width: 35rem;
        padding: var(--space-sm);
    }
}