.shelf-cover-card {
    display: flex;
    padding: var(--space-sm);
    gap: var(--space-md);
    box-shadow: var(--shadow-md);
    border-radius: var(--radius-md);
}

.shelf-book-cover {
    width: 4rem;
    height: auto;
}

.shelf-book-info {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    margin-left: 2rem;
}