/* Mobile */

.featured-list-card .book-stack-cover-0 {
    top: 0;
    left: 6rem;
    width: 5rem;
    height: 8rem;
}

.featured-list-card .book-stack-cover-1 {
    top: 0;
    left: 0.5rem;
    width: 5rem;
    height: 8rem;
}

.featured-list-card .book-stack-cover-2 {
    top: 0;
    left: -5rem;
    width: 5rem;
    height: 8rem;
}

.shelf-card-info {
    display: none;
}

/* Tablet */
@media (min-width: 768px) {

    .featured-list-card .book-stack-cover-0 {
        top: 0;
        left: 12rem;
        width: 10rem;
        height: 16rem;
    }

    .featured-list-card .book-stack-cover-1 {
        top: 0;
        left: 0.5rem;
        width: 10rem;
        height: 16rem;
    }

    .featured-list-card .book-stack-cover-2 {
        top: 0;
        left: -11rem;
        width: 10rem;
        height: 16rem;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .featured-list-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--space-lg);
    }

    .featured-list-card .book-stack-cover-0 {
        top: 0;
        left: 10rem;
        width: 6rem;
        height: 10rem;
    }

    .featured-list-card .book-stack-cover-1 {
        top: 0;
        left: 1.75rem;
        width: 6rem;
        height: 10rem;
    }

    .featured-list-card .book-stack-cover-2 {
        top: 0;
        left: -6rem;
        width: 6rem;
        height: 10rem;
    }
}