/* Mobile */
.search-results {
    display: flex;
    flex-direction: column;
    padding: var(--space-md);
    box-shadow: var(--shadow-md);
    border-radius: var(--radius-md);
    margin-bottom: var(--space-md);
}

.search-result {
    padding: var(--space-md);
    gap: 1.5rem;
    font-size: 1rem;
}

.genre-feature {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

.explore-btn-container {
    display: flex;
    justify-content: center;
}

.explore-btn {
    display: flex;
    gap: var(--space-sm);
    width: fit-content;
    font-size: 0.75rem;
    align-items: center;
    padding: var(--space-sm);
}

.empty-state {
    display: flex;
    flex-direction: column;
    padding: var(--space-sm);
    gap: var(--space-sm);
}

/* Tablet */
@media (min-width: 768px) {
    .explore-btn {
        font-size: 1.25rem;
        padding: var(--space-md);
    }

    .search-results {
        padding: var(--space-lg);
    }

    .search-result {
        padding: var(--space-lg);
        gap: var(--space-xl);
        font-size: 1.75rem;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .genre-feature {
        background: var(--secondary-blue);
        border-radius: var(--radius-lg);
        padding: var(--space-lg);
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: end;
        gap: var(--space-lg);
    }

    .explore-btn-container {
        justify-content: flex-end;
        align-self: center;
    }

    .explore-btn {
        width: fit-content;
        font-size: 1rem;
    }
}