.list-cover-card {
    display: flex;
    padding: var(--space-sm);
    gap: var(--space-md);
    box-shadow: var(--shadow-md);
    border-radius: var(--radius-md);
    margin: var(--space-md);
}

.list-book-cover {
    width: 4rem;
    height: 6rem;
    align-self: center;
}

.list-book-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-sm);
    margin-left: var(--space-xs);
}