/* Mobile */
.list-cover-card {
    display: flex;
    padding: var(--space-sm);
    gap: var(--space-md);
    box-shadow: var(--shadow-md);
    border-radius: var(--radius-md);
    margin: var(--space-md);
}

.list-book-cover {
    width: 4rem;
    height: 6rem;
    align-self: center;
}

.list-book-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-sm);
    margin-left: var(--space-xs);
}

/* Tablet */
@media (min-width: 768px) {
    .list-cover-card {
        padding: var(--space-md);
        gap: var(--space-lg);
        margin: var(--space-lg);
    }

    .list-book-cover {
        width: 8rem;
        height: 12rem;
    }

    .list-book-info {
        font-size: 1.5rem;
        gap: var(--space-md);
        margin-left: var(--space-sm);
    }
}