/* Use for app layout, page-level styling, shared component styling*/
/* Mobile */

.app {
    min-height: 100vh;
    max-width: 480px;
    margin: 0 auto;
    padding: 1rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* Tablet */
@media (min-width: 768px) {
    .app {
        min-height: 100vh;
        max-width: 768px;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .app {
        min-height: 100vh;
        max-width: 1000px;
    }
}